<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
	<!--<system.diagnostics>
		<sources>
			<source name="MM"
			  switchName="sourceSwitch"
			  switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					--><!--<add name="console"
					  type="System.Diagnostics.ConsoleTraceListener">
						<filter type="System.Diagnostics.EventTypeFilter"
						  initializeData="All"/>
					</add>
					<add name="FileLog" type="System.Diagnostics.TextWriterTraceListener" initializeData="MM.log" traceOutputOptions="DateTime,ThreadId,Timestamp">
						<filter initializeData="All" type="System.Diagnostics.EventTypeFilter"/>
					</add>--><!--
					<remove name="Default"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="sourceSwitch" value="All"/>
		</switches>
	</system.diagnostics>-->
</configuration>
